[submodule "bundle/editorconfig-vim"]
	path = bundle/editorconfig-vim
	url = git@github.com:editorconfig/editorconfig-vim.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/powerline"]
	path = bundle/powerline
	url = https://github.com/powerline/powerline.git
[submodule "bundle/vim-go"]
	path = bundle/vim-go
	url = git@github.com:fatih/vim-go.git
[submodule "bundle/vim-chef"]
	path = bundle/vim-chef
	url = git@github.com:dougireton/vim-chef.git
[submodule "bundle/vim-polyglot"]
	path = bundle/vim-polyglot
	url = git@github.com:sheerun/vim-polyglot.git
[submodule "bundle/vim-easymotion"]
	path = bundle/vim-easymotion
	url = git@github.com:easymotion/vim-easymotion.git
[submodule "bundle/surround.vim"]
	path = bundle/surround.vim
	url = git@github.com:tpope/vim-surround.git
[submodule "bundle/fugitive.vim"]
	path = bundle/fugitive.vim
	url = git@github.com:tpope/vim-fugitive.git
[submodule "bundle/jdaddy.vim"]
	path = bundle/jdaddy.vim
	url = git@github.com:tpope/vim-jdaddy.git
[submodule "bundle/commentary.vim"]
	path = bundle/commentary.vim
	url = git@github.com:tpope/vim-commentary.git
[submodule "bundle/unimpaired.vim"]
	path = bundle/unimpaired.vim
	url = git@github.com:tpope/vim-unimpaired.git
